/*SWEET STYLIN'*/

.extra {
  color: red;
}

body {
  background: rgb(167,207,223); /* Old browsers */
  background: -moz-linear-gradient(45deg,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  font-family: "Bodoni MT";

}


/*
Quite certain this means nothing. 
.page-wrapper {
  position: relative;
}*/

.page-header {
  margin-bottom: 3em;
}

.auth-user{
  color: white;
  cursor: pointer;
  font-family: Helvetica;
  border-bottom: .1em solid white;

}
.auth-user h2 {
  margin-left: .5em;
  line-height: 1.5em;
  font-weight: 200;
  display: inline;
}

 #log-in-form {
  display: none;
}
#sign-up-form {
  display: none;
}

.bpm {
  color:white;
  display: block;
}

#slider, #display {
  display: inline-block;
  margin-left: 1em;
}

#display {
  font-size: 2em;
}

div#slider a.ui-slider-handle {
  border-radius: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
}

div.ui-slider-horizontal {
  height: .4em;
  margin-bottom: .3em;
}

h1 {
  font-size: 3em;
}

h1, h3, h4 {
  color: white;
  letter-spacing: .07em;
  margin-left: .4em;
  font-weight: 300;
  font-family: 'Muli', sans-serif;

}

h4 {
  margin-left: 1.5em;
}

h3 {
  margin-right: .5em;
}

input {
  background-color: inherit;
  border: none;
  border-radius: .2em;
  margin-left: .5em;
  margin-right: 1em;
  width: 8em;
  color: white;
}

form {
  margin-left: 1em;
  margin-top: .5em;
}

form label {
  font-size: 1.2em;
}

button, .button {
  border: none;
  color: white;
  background-color: inherit;
  padding: .5em 1em;
  border-radius: .5em;
  font-weight: 200;
  margin-left: 1em;
  font-family: helvetica;
}

button:hover {
  color: rgb(121, 138, 133);
}

label {
  color: white;
}

.page-overlay {
  z-index: 10;
  display: none;
  width: 100%;
  height: 110%;
  margin-top: -1.5em;
  position: fixed;
  background-color: rgba(0,0,0,.7);
}

.exit-button {
  float: left;
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(215, 47, 50);
  border-radius: 2em;
  color: white;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
  font-family: helvetica;
  line-height: 1.5em;
  margin: 1.75em .7em;
  cursor: pointer;
}

.all-sounds {
  width: 60%;
  height: 75%;
  margin: 5em auto;
  color: white;
  background-color: #0B486B;
  border-radius: 1em;
  border: .2em solid rgb(131, 131, 151);
  overflow: scroll;
  z-index: 20;
}

li {
  list-style-type: none;
  line-height: 2em;
  font-size: 2em;
  cursor: pointer;
}

li.sound-choices {
  font-weight: 100;
}

.sequencer-wrapper {
  display: block;
  margin: 1em;
  position: absolute;
}

.sound-selection {
  display: inline;
  width: 1em;
  float: left;
}

.suite-wrapper {
  display: inline;
  width: 100%;
  float: left;
  background-color: inherit;
  margin: 1em;
}

/*.add-row {
  color: white;
  font-size: 3.2em;
  border: .1em solid white;
  width: 1.2em;
  /*border-radius: 50%;*/
/*  text-align: center;
  line-height: 1em;
  padding-bottom: .2em;
  margin-left: .25em;
  cursor: pointer;
  position: relative;
  display: inline-block;
  -webkit-transition: color .1s ease-out .1s;
     -moz-transition: color .1s ease-out .1s;
       -o-transition: color .1s ease-out .1s;
          transition: color .1s ease-out .1s;
}*/
/*
.add-row:hover {
  border: .1em solid #99D4F6;
  color: #BD4D40;
}*/

.sound-title {
  display: block;
  margin-bottom: -.5em;
  margin-right: .5em;
  /*margin-top: -.05em;*/
  cursor: pointer;
  color: #A8DBA8;

}

.remove-row {
  color: white;
  font-size: 1em;
  border: .1em solid white;
  width: 1.2em;
  border-radius: 50%;
  text-align: center;
  /*line-height: 1em;*/
  padding-bottom: .2em;
  margin-left: 1em;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.remove-row:hover {
    color: rgb(121, 138, 133);
    border:   rgb(121, 138, 133);
}

.column {
  float: left;
}

.sequencer-column {
  float: left;
}

.note {
  width: 5em;
  height: 5em;
  display: block;
  background-color: rgb(96,108,136); /* Old browsers */
  background-color: -moz-linear-gradient(45deg,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
  background-color: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
  background-color: -webkit-linear-gradient(45deg,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
  background-color: -o-linear-gradient(45deg,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
  background-color: -ms-linear-gradient(45deg,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
  background-color: linear-gradient(45deg,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  border: .25em solid black;
  border-radius: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.note:hover {
  cursor: pointer;

  background-color: rgb(121, 138, 133);;
}

.selected {
  background-color: rgb(169,228,247); /* Old browsers */
  background-color: -moz-linear-gradient(45deg,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 100%); /* FF3.6+ */
  background-color: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(169,228,247,1)), color-stop(100%,rgba(15,180,231,1))); /* Chrome,Safari4+ */
  background-color: -webkit-linear-gradient(45deg,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Chrome10+,Safari5.1+ */
  background-color: -o-linear-gradient(45deg,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* Opera 11.10+ */
  background-color: -ms-linear-gradient(45deg,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* IE10+ */
  background-color: linear-gradient(45deg,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.in-time {
  background-color: #A8DBA8;
}

.selected.in-time {
  background-color: #BD4D40;
}

.peter {
  background: url(http://i.picasion.com/pic76/764885b0a90965d64b4822f7567d19e8.gif);
}

.unicorn {
  position: absolute;
  display: none;
  margin-top: 5em;
  z-index: 10;
}

.show-and-hide {
  display: block;
  float: left;
  position: fixed;
  bottom: 0;
}

.list-songs {
  top: -10em;
  float: right;
  color: white;
  font-size: 2em;
  font-family: helvetica;
  padding-right: 2em;
  cursor: pointer;
}

#song-title {
  background-color: white;
}


.clickable-links {
  -webkit-transition: color .1s ease-out .1s;
     -moz-transition: color .1s ease-out .1s;
       -o-transition: color .1s ease-out .1s;
          transition: color .1s ease-out .1s;
}

.clickable-links:hover {
  color: rgb(121, 138, 133);
}

.clickable-buttons {
  -webkit-transition: color .1s ease-out .1s;
     -moz-transition: color .1s ease-out .1s;
       -o-transition: color .1s ease-out .1s;
          transition: color .1s ease-out .1s;
}

.clickable-buttons:hover {
  color: rgb(121, 138, 133);
}
.iconmelon {
  display:inline-block;
  width:5em;
  height:5em;
  fill: white;
  margin:.5em;
  margin-right: 2em;

}

.iconmelon:hover {
  cursor:pointer;
}

svg:hover { 
  fill: rgb(121, 138, 133);
   }

#controls {
  margin: auto;
}

@media (max-width: 600px) {
  div.note {
    width: 3em;
    height: 3em;
  }
}

@media only screen and (max-device-width: 690px) {
   div.note {
    width: 3em;
    height: 3em;
  } 
}
